#newprojectButton {
    background-color: #2196F3;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
}
#newprojectButton:hover {
    background-color: #1976D2;
}
#openprojectButton {
    background-color: #2196F3;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
}
#openprojectButton:hover {
    background-color: #1976D2;
}
